@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: rgb(12, 11, 16);
}

.nav-drop {
    cursor: pointer;
}

.nav-button-one {
    color: white;
    padding: 13px 24px;
    text-decoration: none;
    border: 1px solid white;
    border-top-left-radius: 37px;
    border-bottom-right-radius: 37px;
}

.nav-button-two {
    color: white;
    padding: 13px 26px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #343CFF;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* first page css  start*/

.hero-section {
    background-image: url(./assets/Background.jpg);
    background-size: cover;

    padding-top: 6%;
}

.hero-left-text {
    color: rgba(11, 1, 70, 1);
    font-size: 46px;
}

.hero-left-text span {
    color: rgba(156, 140, 248, 1);
}

.hero-email-ico {
    padding: 10px, 12px, 10px, 12px;
    height: 44px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    color: rgba(11, 1, 70, 0.5);
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}

.hero-email-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}

.hero-left-btn {
    background-color: rgba(52, 60, 255, 1);
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
    width: 350px;
}

.hero-section-right {
    color: rgba(11, 1, 70, 1);
}

.hero-section-right-btn button {
    border: 1px solid rgba(11, 1, 70, 1);
    font-weight: 500;
    width: 168px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
}

.card-section {
    margin-top: 6%;
}

/* first page css  end*/

footer {
    background-color: rgb(13, 10, 16);
}





/* second page css start */
.hero-right-sec {
    border: 1px solid black;
    width: 464px;
    height: 198px;
    border-radius: 32px 0px 32px 0px;
    padding: 28px 0px;
}

.img-sec {
    border-left: 2px solid rgba(11, 1, 70, 1);
    font-size: 14px;
}

/* second page css end */






/* Third page css start */
.third-page-hero-img {
    width: 100%;
    height: 100%;
}

.contact-sec {
    color: rgba(11, 1, 70, 1);
    margin-top: 13%;
}

.contact-sec-con {
    font-size: 18px;
    font-weight: 500;
}

.contact-sec-para {
    font-size: 42px;
}

.contact-sec-line {
    font-size: 18px;
}

.contact-sec-para span {
    color: rgba(156, 140, 248, 1);
}

.contact-section-second-row {
    margin-top: 10%;
}

.contact-section-second-row-reach {
    font-size: 24px;
}

.contact-section-second-row-details {
    font-size: 18px;
}

.contact-section-second-row-right {
    font-size: 20px;
    font-weight: 700;
}

.contact-section-second-row-right-input input {
    width: 400px;
    height: 44px;
    border-radius: 24px 0px 24px 0px;
    padding: 10px 12px 10px 12px;
}

#contact-section-textarea {
    height: 180px;
    width: 400px;
    border-radius: 24px 0px 24px 0px;
    padding: 12px;
    background-color: rgba(13, 11, 17, 0.05);
}

.contact-section-second-row-right-btn {
    width: 400px;
    height: 48px;
    border-radius: 20px 0px 20px 0px;
    padding: 12px 24px 12px 24px;
    background-color: rgba(52, 60, 255, 1);
    text-align: center;
    font-weight: 500;
}

.faqs-section {
    color: rgba(11, 1, 70, 1);
    margin-top: 15%;
}

.faqs-section-head {
    font-size: 42px;
}

.grad-border {
    height: 2px;
    width: 100%;
    display: flex;
}

.right-border {
    width: 100%;
    border-bottom: 2px solid #695f52;
    display: inline-block;
}

.right-border {
    border-image: linear-gradient(90deg, #b3b3b3, #fff) 1;
}

.accordion-button {
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
}

.accordion {
    --bs-accordion-active-bg: rgba(52, 59, 255, 0.084);
}

.question-section {
    color: rgba(11, 1, 70, 1);
    background-color: rgba(13, 11, 17, 0.05);
    padding: 20px 29px 20px 29px;
}

.question-section-text p {
    font-size: 32px;
}

.question-section-text span {
    font-size: 18px;
}

.question-section-btn {
    width: 220px;
    height: 64px;
    border-radius: 30px 0px 30px 0px;
    padding: 19px 0px 0px 0px;
    background-color: rgba(52, 60, 255, 1);
}

/* Third page css end */













/* FAQS black section */
.faqs-section-black-main {
    background-color: black;
}

.faqs-section-black {
    color: white;
    margin-top: 15%;
}

.faqs-section-head {
    font-size: 42px;
}

.black-bor {
    height: 2px;
    width: 100%;
    display: flex;
}

.black-bor.left-border {
    width: 100%;
    border-bottom: 2px solid #695f52;
    display: inline-block;
}

.black-bor.left-border {
    border-image: linear-gradient(90deg, #fff, #b3b3b3) 1;
}

.accordion-btn-black {
    font-size: 18px;
    color: white;
    background-color: black;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
}

.accordion-btn-black::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
}

.accordion-btn-black:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z'/%3E%3C/svg%3E");
}

.accordion-body {
    background-color: black;
    color: white;
}

.accordion-black>.accordion-item>.accordion-header .accordion-button,
.accordion-flush>.accordion-item>.accordion-header .accordion-btn-black.collapsed {
    color: white;
    background-color: black;
}

.accordion {
    --bs-accordion-active-bg: rgba(52, 59, 255, 0.084);
}

.question-section-black {
    background-color: rgba(255, 255, 255, 0.112);
    padding: 20px 29px 20px 29px;
}


.question-black-section-text p {
    font-size: 32px;
}

.question-black-section-text span {
    font-size: 18px;
}

.question-black-section-btn {
    width: 220px;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 64px;
    border-radius: 30px 0px 30px 0px;
    padding: 19px 0px 0px 0px;
    background-color: rgba(52, 60, 255, 1);
}

/* FAQS black section */










/* Fourth page css */
.hero-sec-fourth {
    background-image: url(./assets/fourth-page.png);
    background-size: cover;
    padding-top: 12%;
    padding-bottom: 8%;

}

.hero-fourth-btn {
    display: block;
    width: 287px;
    height: 64px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: rgba(52, 60, 255, 1);
    border-radius: 30px 0px 30px 0px;
    padding: 12px 24px 12px 24px;
}

.hero-sec-four-rate {
    color: rgba(144, 129, 228, 1);
    font-size: 18px;
}

.hero-sec-four-rating {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

.hero-sec-fourth-big-text {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 46px;
}

.hero-sec-fourth-big-text span {
    color: rgba(156, 140, 248, 1);
}

.hero-sec-fourth-svg {
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
}

.hero-sec-fourth-lastline {
    color: rgba(119, 165, 255, 1);
}
.trusted-sec{
    background-color: rgb(12,11,16);
    padding-top: 5%;
    padding-bottom: 5%;
}
.trusted-sec-first-line{
color: rgba(156, 140, 248, 1);
font-size: 18px;
font-weight: 500;
}
.trusted-sec-second-line{
    font-family: 18px;
    color: rgba(255, 255, 255, 1);
}

.grad-fourth-border {
    height: 1px;
    width: 85%;
    margin: 0 auto;
    display: flex;
  }
  .left-fourth-border, .right-fourth-border {
    width: 50%;
    border-bottom: 2px solid #695f52;
    display: inline-block;
  }
  .left-fourth-border {
    /* border-color:  rgba(0, 0, 0, 1); */
    border-image: linear-gradient(rgba(255, 255, 255, 1),
        rgba(102, 102, 102, 1))
  }
  .right-fourth-border {
    border-image: linear-gradient(90deg, #b3b3b3, #fff) 1;
  }
/* Fourth page css */