@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: rgb(12, 11, 16);
}

.nav-drop {
    cursor: pointer;
}

.nav-button-one {
    color: white;
    padding: 13px 24px;
    text-decoration: none;
    border: 1px solid white;
    border-top-left-radius: 37px;
    border-bottom-right-radius: 37px;
}

.nav-button-two {
    color: white;
    padding: 13px 26px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #343CFF;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* first page css  start*/

.hero-section {
    background-image: url(./assets/Background.jpg);
    background-size: cover;

    padding-top: 6%;
}

.hero-left-text {
    color: rgba(11, 1, 70, 1);
    font-size: 46px;
}

.hero-left-text span {
    color: rgba(156, 140, 248, 1);
}

.hero-email-ico {
    padding: 10px, 12px, 10px, 12px;
    height: 44px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    color: rgba(11, 1, 70, 0.5);
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}

.hero-email-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}

.hero-left-btn {
    background-color: rgba(52, 60, 255, 1);
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
    width: 350px;
}

.hero-section-right {
    color: rgba(11, 1, 70, 1);
}

.hero-section-right-btn button {
    border: 1px solid rgba(11, 1, 70, 1);
    font-weight: 500;
    width: 168px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
}

.card-section {
    margin-top: 6%;
}

/* first page css  end*/

footer {
    background-color: rgb(13, 10, 16);
}





/* second page css start */
.hero-right-sec {
    border: 1px solid black;
    width: 464px;
    height: 198px;
    border-radius: 32px 0px 32px 0px;
    padding: 28px 0px;
}

.img-sec {
    border-left: 2px solid rgba(11, 1, 70, 1);
    font-size: 14px;
}

/* second page css end */






/* Third page css start */
.third-page-hero-img {
    width: 1312px;
    height: 458px;
}

.contact-sec {
    color: rgba(11, 1, 70, 1);
    margin-top: 13%;
}

.contact-sec-con {
    font-size: 18px;
    font-weight: 500;
}

.contact-sec-para {
    font-size: 42px;
}

.contact-sec-line {
    font-size: 18px;
}

.contact-sec-para span {
    color: rgba(156, 140, 248, 1);
}

.contact-section-second-row {
    margin-top: 10%;
}

.contact-section-second-row-reach {
    font-size: 24px;
}

.contact-section-second-row-details {
    font-size: 18px;
}

.contact-section-second-row-right {
    font-size: 20px;
    font-weight: 700;
}

.contact-section-second-row-right-input input {
    width: 400px;
    height: 44px;
    border-radius: 24px 0px 24px 0px;
    padding: 10px 12px 10px 12px;
}

#contact-section-textarea {
    height: 180px;
    width: 400px;
    border-radius: 24px 0px 24px 0px;
    padding: 12px;
    background-color: rgba(13, 11, 17, 0.05);
}

.contact-section-second-row-right-btn {
    width: 400px;
    height: 48px;
    border-radius: 20px 0px 20px 0px;
    padding: 12px 24px 12px 24px;
    background-color: rgba(52, 60, 255, 1);
    text-align: center;
    font-weight: 500;
}

.faqs-section {
    color: rgba(11, 1, 70, 1);
    margin-top: 15%;
}

.faqs-section-head {
    font-size: 42px;
}

.grad-border {
    height: 2px;
    width: 100%;
    display: flex;
}

.right-border {
    width: 100%;
    border-bottom: 2px solid #695f52;
    display: inline-block;
}

.right-border {
    border-image: linear-gradient(90deg, #b3b3b3, #fff) 1;
}

.accordion-button {
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
}

.accordion {
    --bs-accordion-active-bg: rgba(52, 59, 255, 0.084);
}

.question-section {
    color: rgba(11, 1, 70, 1);
    background-color: rgba(13, 11, 17, 0.05);
    padding: 20px 29px 20px 29px;
}

.question-section-text p {
    font-size: 32px;
}

.question-section-text span {
    font-size: 18px;
}

.question-section-btn {
    width: 220px;
    height: 64px;
    border-radius: 30px 0px 30px 0px;
    padding: 19px 0px 0px 0px;
    background-color: rgba(52, 60, 255, 1);
}

/* Third page css end */