@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

nav {
    background-color: rgb(12, 11, 16);
}

.nav-drop {
    cursor: pointer;
}

.nav-button-one {
    color: white;
    padding: 13px 24px;
    text-decoration: none;
    border: 1px solid white;
    border-top-left-radius: 37px;
    border-bottom-right-radius: 37px;
}

.nav-button-two {
    color: white;
    padding: 13px 26px;
    text-decoration: none;
    border: 1px solid white;
    background-color: #343CFF;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.hero-section{
    background-image: url(./assets/Background.jpg);
    background-size: cover;
    
    padding-top: 6%;
}
.hero-left-text{
    color: rgba(11, 1, 70, 1);
    font-size: 46px;
}
.hero-left-text span{
    color:rgba(156, 140, 248, 1);
}
.hero-email-ico{
    padding: 10px, 12px, 10px, 12px;
    height: 44px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    color: rgba(11, 1, 70, 0.5);
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}
.hero-email-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: rgba(13, 11, 17, 0.05);
}
.hero-left-btn{
    background-color: rgba(52, 60, 255, 1);
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
    width: 400px;
}
.hero-section-right{
    color: rgba(11, 1, 70, 1);
}
.hero-section-right-btn button{
    border: 1px solid rgba(11, 1, 70, 1);
    font-weight: 500;
    width: 168px;
    height: 48px;
    padding: 12px 24px 12px 24px;
    border-radius: 20px 0px 20px 0px;
}